.sidebar{
    flex:3;
    margin: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    align-items:center;
}

.Img{

    width: 100px;
    height: 100px;
}

.sidebarItem{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.sidebarTitle{
    margin: 10px;
    padding: 5px;
    width:80%;
    border-top :1px solid black;
    border-bottom: 1px solid black;
    font-weight: 600;
    text-align:center;

}

.sidebarItem > p {
    padding: 20px;
}


.sidebarList{
    list-style: none;
    margin-bottom:30px;
}

.sidebarListItems{
    display: inline-block;
    width: 50%;
    margin-top:15px;
    cursor: pointer;
}
.sidebarSocial{
    margin-top:15px;
    width:250px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.sidebarIcon{
    font-size:16px;
    margin-left:10px;
    cursor: pointer;
}