.top{
    width: 100%;
    height: 50px;
    background-color: red;
    top:0;
    position :sticky;
    display:flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
}

.topLeft,.topRight{

    flex:3;
    background-color:green;
}

.topCenter{
    flex:6;
}